@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, dark --prefersdark;
}

@font-face {
  font-family: "Vazir";
  src: url("../Vazirmatn-Regular.woff2") format("woff2");
}

@theme {
  --font-sans: "Vazir", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
